.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 800px;
    height: 350px;
}

.line {
    display: flex;
    flex-direction: row;
    width: auto;
    height: calc(100/3);
    justify-content: center;
    align-items: center;
}

.pre-nex {
    margin: 10px auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}