.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 800px;
    height: 350px;
    background-color: #FFFFFFB2;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23007BFF7D' stroke-width='4' stroke-dasharray='3%25%2c 4%25' stroke-dashoffset='46' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 10px;
    text-align: center;
}

.uploadIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.uploadText {
    font-size: 16px;
    color: #007bff7d;
    font-family: Arial, sans-serif;
}

.uploadInput {
    position: absolute;
    width: 800px;
    height: 350px;
    opacity: 0;
    cursor: pointer;
}


.fileCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.fileCard img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}